.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  border-right: 1px solid #bbfaca;
  background-color: #bbfaca;
}
.logo {
  display: flex;
  flex-direction: row;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  /* justify-content: center; */
  align-items: center;
  color: #338b47;
}
.pic {
  height: 5rem;
  width: 6rem;
}
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItems {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
  color: #338b47;
  font-weight: bold;
}

.menuItems > img {
  height: 1.3rem;
  width: 1.3rem;
}

.menuItems :hover {
  cursor: pointer;
}
.active {
  background-color: #defae5;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: #338b47;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  .Sidebar {
    background-color: #f0fcf3;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 5rem;
    width: 70%;
    height: calc(100vh - 5rem);
    background-color: #bbfaca;
    z-index: 1;
    transition: all 0.3s ease;
    transform: translateX(-100%);
  }

  .menu.open {
    transform: translateX(0);
  }

  .hamburger {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 2;
  }
}
